* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin:0px;
    padding:15px;
    border: 10px solid gray;
}

p {
    font-size: small;
}

.box {
    background-color: #fefefe;
    margin: 10px 0px 45px 0px;
}

.title {
    background-color: #23231f;
    color:#fff;
    font-size: larger;
    font-style: oblique;
}
.elem {
    border: solid rgb(234, 234, 234);
}
#ex1 {
    border: 3px solid rgb(42, 96, 130);
}
#ex2 {
    border-left-width: 15px ;
    border-left-color: rgb(0, 68, 128);

    border-right-width: 53px; 
    border-right-color: rgb(30, 171, 210);

    border-top-width: 14px; 
    border-top-color: rgb(135, 138, 222);

    border-bottom-width: 19px;
    border-bottom-color: rgb(59, 160, 243);
}

#ex3 {
    border-radius: 100%;
    border-width: 14px;
}

#ex4 {
    background-image: url("https://picsum.photos/300/200");
    padding: 20%;
}

#ex5 {
    color: rgb(43, 226, 49);
    background-color: #0687ff;
}

#ex6 {
    font: Arial 10px;
}

#ex7 {
    font-family: Cambria;
}

#ex8 {
    font-style: italic;
    font-weight: 700;
}

#ex9 {
    width: 10%;
    height: 20%;
}

#ex10 {
    list-style: armenian;
}

#ex11 {
    margin: 0cm;
}

#ex12 {
    padding: 30%;
}

#ex13 {
    overflow: auto;
}

#ex14 {
    display: block;
}

#ex15 {
    position: relative;
}

#ex16 {
    background-image: url("https://picsum.photos/300/200");
    padding: 20%;
    filter: blur();
}