*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

body
{
    margin: 0px;
}
div 
{
    margin: 0px;
    padding: 10px;
    /*border: 1px solid black;*/
}

.flex-container
{
    display: flex;
    justify-content: center;
}

.hzt-cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page
{
    font-size: larger;
}
#header
{
    align-items: center;
    padding: 0px;
    
    justify-content: space-around;
    color: white;
    background-color: gray;
}

#body
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    background-color: orange;
}

#contact
{
    justify-content: center;
    color: white;
    background-color: gray;
}

#banner
{
    align-items: center;
    border: 0px solid white;
}

#foot
{
    justify-content: center;
    color: white;
    background-color: gray;
}